.mat-grid-list{
  backdrop-filter: blur(10px);
}
//arrow img
.leftarrowimg{
 // margin-left: 10px;
 margin-right: 45px
}
//title
.title{
  margin-right: 73px;
}
//mat card..freshvegtables
.freshvegtables-card {
    max-width: 101px;
    margin-top: -428px;
    // background-color: rgb(243, 234, 243);
    background-color: white;
    // font-size: small;
    // font-weight: normal;
    margin-bottom: 5px;
    position: inherit;
    padding: 7px;

  }
  
  .freshvegtables-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-image: url('../assets/onion.jpg');
    background-size: cover;
    //display: block;
    margin-left: 28px;
    margin-bottom: 2px;
    //margin-right: auto;
    width: 50%;
    //align-items: center;
  }
  .freshvegtables-card-title{
    font-size: small;
    align-items: center;
  }
  //mat-card-leafy
  .leaf-card {
    max-width: 108px;
    margin-top: 18px;
    background-color: white;
    // font-size: small;
    // font-weight: normal;
    margin-bottom: 5px;
    position: inherit;
    padding: 7px;
  }
  
  .leaf-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-image: url('../assets/palak.jpg');
    background-size: cover;
    //display: block;
    margin-left: 28px;
    margin-bottom: 2px;
    //margin-right: auto;
    width: 50%;
    //align-items: center;
  }
  //mat-card-mango
  .mango-card {
    max-width: 108px;
    margin-top: -165px;
    background-color: white;
    // font-size: small;
    // font-weight: normal;
    margin-bottom: 5px;
    position: inherit;
    padding: 7px;
  }
  
  .mango-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-image: url('../assets/mango.jpg');
    background-size: cover;
    //display: block;
    margin-left: 28px;
    margin-bottom: 2px;
    //margin-right: auto;
    width: 50%;
    //align-items: center;
  }
   //mat-card-exotics
   .exotics-card {
    max-width: 108px;
    margin-top: 190px;
    background-color: white;
    // font-size: small;
    // font-weight: normal;
    margin-bottom: 5px;
    position: inherit;
    padding: 7px;
  }
  
  .exotics-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-image: url('../assets/broccoli.jpg');
    background-size: cover;
    //display: block;
    margin-left: 28px;
    margin-bottom: 2px;
    //margin-right: auto;
    width: 50%;
    //align-items: center;
  }

  //mat-card-freshcuts
  .freshcuts-card {
    max-width: 108px;
    margin-top: 370px;
    background-color:rgb(245, 245, 245);
   // background-color: rgb(243, 234, 243);
    // font-size: small;
    // font-weight: normal;
    margin-bottom: 5px;
    position: inherit;
    padding: 7px;
  }
  
  .freshcuts-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-image: url('../assets/pineapple.jpg');
    background-size: cover;
    //display: block;
    margin-left: 28px;
    margin-bottom: 2px;
    //margin-right: auto;
    width: 50%;
    //align-items: center;
  }


  //headerFruits
 .headerFruits{
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
 }
 .selectoption{
  margin-right: 50px;
 }
//.........................................
 .freshstock-card{
 // max-width: 108px;
   // margin-top: 370px;
   width: 125px;
   height: 47px;
   margin-top: 15px;
   margin-left: 78px;
    background-color:rgb(152, 228, 167);
   // background-color: rgb(243, 234, 243);
    // font-size: small;
    // font-weight: normal;
   // margin-bottom: 5px;
   // position: inherit;
   // padding: 7px;
 }
 .freshstock-header-image
 {
 // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
 background-image: url('../assets/freshfood.webp');
 background-size: cover;
 //display: block;
 //margin-left: 28px;
 //margin-bottom: 2px;
 //margin-right: auto;
 width: 50%;
 //align-items: center;
 }


 .freshstock-card-title{

  font-size: small;
 }
 //.........................................................
 .sample{
  align-items: flex-start;
  display: inline;

 }
 .highquality{
  color: brown;
  margin-top: -112px;
  /* left: 60px; */
  margin-left: 33px;
  /* text-align: center; */
  padding-left: 362px;
  font-size: 17px;
 }
 .healthycards{
  margin-top: -6px;
  margin-left: -391px;
  display: flex;
 }
 .covid{
margin-top: 138px;

 }


 //.........................................
 .quality-card{
  // max-width: 108px;
    // margin-top: 370px;
    width: 125px;;
    height: 47px;
    margin-top: 15px;
    margin-left: 132px;
    margin-right: 77px;
     background-color:rgb(152, 228, 167);
    // background-color: rgb(243, 234, 243);
     // font-size: small;
     // font-weight: normal;
    // margin-bottom: 5px;
    // position: inherit;
    // padding: 7px;
  }
  .quality-header-image
  {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-image: url('../assets/qualitycheck.webp');
  background-size: cover;
  //display: block;
  //margin-left: 28px;
  //margin-bottom: 2px;
  //margin-right: auto;
  width: 50%;
  margin-top: -9px;
  //align-items: center;
  }
 
 
  .quality-card-title{
 
   font-size: small;
  }
  //.........................................................



  //.........................................
 .seasonal-card{
  // max-width: 108px;
    // margin-top: 370px;
    width: 112px;
    height: 47px;
    margin-top: 15px;
    margin-left: 171px;
    margin-right: 106px;
     background-color:rgb(152, 228, 167);
    // background-color: rgb(243, 234, 243);
     // font-size: small;
     // font-weight: normal;
    // margin-bottom: 5px;
    // position: inherit;
    // padding: 7px;
  }
  .seasonal-header-image
  {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-image: url('../assets/moreproducts.webp');
  background-size: cover;
  //display: block;
  //margin-left: 28px;
  //margin-bottom: 2px;
  //margin-right: auto;

  width: 86%;
    margin-top: -15px;
  //align-items: center;
  }
 
 
  .seasonal-card-title{
 
   font-size: small;
  }
  //.........................................................